* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman";
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: black;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 40px;
}
.nav-tag {
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 20px;
}
.nav-tag h4 {
  font-size: 15px;
  color: black;
  font-weight: 500;
  cursor: pointer;
}
.nav-tag h4:hover {
  text-decoration: underline;
}
.nav-tag button {
  padding: 10px 20px;
  color: black;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;
}
.nav-tag button:hover {
  background-color: black;
  color: white;
  text-decoration: underline white;
}
.nav h2 {
  font-weight: 500;
  font-size: 30px;
  display: flex;
  gap: 20px;
  /* padding: 8px; */
  align-items: center;
  cursor: pointer;
}
.nav h2 svg {
  color: black;
  font-size: 10px;
  cursor: pointer;
}

.main {
  display: flex;
  padding: 10px 40px;
  gap: 150px;
  margin-left: 2%;
}
.screen-left {
  margin-top: 4%;
  height: 50%;
  width: 50%;
  /* padding: 0 60px; */
  flex-direction: column;
  display: flex;
  /* background-color: lightseagreen; */
  gap: 40px;
}
.screen-left h2 {
  color: black;
  font-weight: 700;
  font-size: 55px;
  font-family: monospace;
}
.screen-left p {
  font-size: 20px;
  color: black;
}
.screen-left button {
  background-color: black;
  width: fit-content;
  color: white;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;
}
.screen-left button:hover {
  background-color: white;
  color: black;
  text-decoration: underline black;
}
.screen-right {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-right: 2%;
  /* background-color: chartreuse; */
}
.screen-right img {
  height: 450px;
  width: 450px;
  /* background-color: #fff; */
}
