*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:monospace;
}

html,body{
    height: 100vh;
    width: 100%;
    background-color: #fff;
    color: black;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    font-size: 19px;
    /* background-color:rgb(184, 255, 41) ; */
    padding: 40px 60px;
}
.nav-tag{
    display: flex;
    gap: 50px;
    font-size: 20px;
}
.nav-tag h4{
    background-color: rgb(153, 255, 0);
    padding: 4px 14px;
    border-radius: 20px;
    border: 1px solid black;
    color: black;
    font-weight: 400;
}
.nav h2{
    border: 2px solid black;
    font-weight: 500;
    display: flex;
    gap: 20px;
    background-color: rgb(153, 255, 0);
    padding: 8px 25px;
    align-items: center;
    border-radius: 50px;
}
.nav h2 svg{
    color:black;
}
.screen-left{
    margin-top: 7%;
    height: 50%;
    width: 65%;
    padding: 0 60px;
    flex-direction: column;
    display: flex;
    /* background-color: lightseagreen; */
    gap: 50px;
}
.screen-left h2{
    color: rgb(72, 9, 101);
    font-weight: 700;
    font-size: 100px;
}
.screen-left p{
    font-size: 25px;
    color: black;
}