* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: black;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 40px;
  background-color: aqua;
}
.nav-tag {
  display: flex;
  gap: 50px;
  font-size: 20px;
}
.nav-tag h4 {
  font-size: 15px;
  color: black;
  font-weight: 500;
}
.nav-tag button {
  padding: 10px 20px;
}
.nav h2 {
  font-weight: 800;
  font-size: 30px;
  display: flex;
  gap: 20px;
  /* padding: 8px; */
  align-items: center;
}
.nav h2 svg {
  color: black;
  font-size: 10px;
}

.main {
  display: flex;
  padding: 10px 40px;
}
.screen-left {
  margin-top: 4%;
  height: 50%;
  width: 50%;
  /* padding: 0 60px; */
  flex-direction: column;
  display: flex;
  background-color: lightseagreen;
  gap: 40px;
}
.screen-left h2 {
  color: black;
  font-weight: 700;
  font-size: 55px;
  font-family: monospace;
}
.screen-left p {
  font-size: 20px;
  color: black;
}
.screen-left button{
    background-color: black;
    width: fit-content;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 10px;
}
.screen-right {
  height: fit-content;
  width: fit-content;
  margin-top: 4%;
  background-color: orange;
}
